<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <header>
            <h1> Entree Familial </h1>
        </header>
        <main>
            <table style="width: 500px;">
                <tbody>
                <tr>
                <td style="width: 500px;">
                <table border="0" cellspacing="0"><colgroup width="180"></colgroup> <colgroup width="112"></colgroup> <colgroup width="139"></colgroup> <colgroup width="135"></colgroup> <colgroup width="152"></colgroup> <colgroup width="127"></colgroup> <colgroup width="156"></colgroup> <colgroup width="136"></colgroup> <colgroup width="161"></colgroup> <colgroup width="149"></colgroup> <colgroup width="168"></colgroup> <colgroup width="149"></colgroup> <colgroup width="144"></colgroup> <colgroup width="293"></colgroup>
                <tbody>
                <tr>
                <td align="left" height="23"><strong><span style="font-size: large;">ENTREE</span></strong></td>
                <td align="right" bgcolor="#3291a8"><strong><span style="font-size: large;">Janvier</span></strong></td>
                <td align="right" bgcolor="#3291a8"><strong><span style="font-size: large;">fevrier</span></strong></td>
                <td align="right" bgcolor="#3291a8"><strong><span style="font-size: large;">mars</span></strong></td>
                <td align="right" bgcolor="#3291a8"><strong><span style="font-size: large;">Avril</span></strong></td>
                <td align="right" bgcolor="#3291a8"><strong><span style="font-size: large;">Mai</span></strong></td>
                <td align="right" bgcolor="#3291a8"><strong><span style="font-size: large;">Juin</span></strong></td>
                <td align="right" bgcolor="#3291a8"><strong><span style="font-size: large;">juillet</span></strong></td>
                <td align="right" bgcolor="#3291a8"><strong><span style="font-size: large;">Aout</span></strong></td>
                <td align="right" bgcolor="#3291a8"><strong><span style="font-size: large;">Septembre</span></strong></td>
                <td align="right" bgcolor="#3291a8"><strong><span style="font-size: large;">Octobre</span></strong></td>
                <td align="right" bgcolor="#3291a8"><strong><span style="font-size: large;">Novembre</span></strong></td>
                <td align="right" bgcolor="#3291a8"><strong><span style="font-size: large;">Decembre</span></strong></td>
                <td align="center" bgcolor="#3291a8"><strong><span style="font-size: large;">Total Entrees 2024</span></strong></td>
                </tr>
                <tr>
                <td align="left" bgcolor="#DDDDDD" height="25"><span style="font-size: medium;">Patrick Salaire</span></td>
                <td align="right"><span style="font-size: medium;">2.400,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">2.400,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">2.500,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">2.440,98 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">2.440,98 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">2.440,98 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">2.891,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">2.891,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">2.891,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">2.891,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">2.891,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">2.891,00 &euro;</span></td>
                <td align="left" bgcolor="#158466"><strong><span style="font-size: large;">31.968,94 &euro;</span></strong></td>
                </tr>
                <tr>
                <td align="left" bgcolor="#DDDDDD" height="25"><span style="font-size: medium;">Astrid Salaire</span></td>
                <td align="right"><span style="font-size: medium;">3.180,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">3.180,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">3.180,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">3.275,42 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">3.180,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">3.180,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">3.180,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">1.500,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">1.500,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">1.500,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">1.500,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">1.500,00 &euro;</span></td>
                <td align="left" bgcolor="#158466"><strong><span style="font-size: large;">29.855,42 &euro;</span></strong></td>
                </tr>
                <tr>
                <td align="left" bgcolor="#DDDDDD" height="25"><span style="font-size: medium;">Fi reunion Patrick</span></td>
                <td align="right"><span style="font-size: medium;">0,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">0,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">0,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">1.000,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">0,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">0,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">0,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">0,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">0,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">0,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">0,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">0,00 &euro;</span></td>
                <td align="left" bgcolor="#158466"><strong><span style="font-size: large;">1.000,00 &euro;</span></strong></td>
                </tr>
                <tr>
                <td align="left" bgcolor="#DDDDDD" height="25"><span style="font-size: medium;">Mutterschaftsgeld</span></td>
                <td align="right"><span style="font-size: medium;">0,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">0,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">0,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">546,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">0,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">0,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">0,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">0,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">0,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">0,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">0,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">0,00 &euro;</span></td>
                <td align="left" bgcolor="#158466"><strong><span style="font-size: large;">546,00 &euro;</span></strong></td>
                </tr>
                <tr>
                <td align="left" bgcolor="#DDDDDD" height="25"><span style="font-size: medium;">Elterngeld</span></td>
                <td align="right"><span style="font-size: medium;">0,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">0,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">0,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">0,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">0,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">0,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">0,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">0,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">0,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">0,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">0,00 &euro;</span></td>
                <td align="right"><span style="font-size: medium;">0,00 &euro;</span></td>
                <td align="left" bgcolor="#158466"><strong><span style="font-size: large;">0,00 &euro;</span></strong></td>
                </tr>
                <tr>
                <td align="left" bgcolor="#DDDDDD" height="25"><span style="font-size: medium;">Steuer Astrid</span></td>
                <td align="right"><span style="font-size: medium;">&nbsp;</span></td>
                <td align="right"><span style="font-size: medium;">&nbsp;</span></td>
                <td align="right"><span style="font-size: medium;">&nbsp;</span></td>
                <td align="right"><span style="font-size: medium;">&nbsp;</span></td>
                <td align="right"><span style="font-size: medium;">&nbsp;</span></td>
                <td align="right"><span style="font-size: medium;">&nbsp;</span></td>
                <td align="right"><span style="font-size: medium;">&nbsp;</span></td>
                <td align="right"><span style="font-size: medium;">&nbsp;</span></td>
                <td align="right"><span style="font-size: medium;">&nbsp;</span></td>
                <td align="right"><span style="font-size: medium;">&nbsp;</span></td>
                <td align="right"><span style="font-size: medium;">&nbsp;</span></td>
                <td align="right"><span style="font-size: medium;">&nbsp;</span></td>
                <td align="left" bgcolor="#158466"><strong><span style="font-size: large;">0,00 &euro;</span></strong></td>
                </tr>
                <tr>
                <td align="left" bgcolor="#DDDDDD" height="25"><span style="font-size: medium;">Steuer Patrick</span></td>
                <td align="right"><span style="font-size: medium;">&nbsp;</span></td>
                <td align="right"><span style="font-size: medium;">&nbsp;</span></td>
                <td align="right"><span style="font-size: medium;">&nbsp;</span></td>
                <td align="right"><span style="font-size: medium;">&nbsp;</span></td>
                <td align="right"><span style="font-size: medium;">&nbsp;</span></td>
                <td align="right"><span style="font-size: medium;">&nbsp;</span></td>
                <td align="right"><span style="font-size: medium;">&nbsp;</span></td>
                <td align="right"><span style="font-size: medium;">&nbsp;</span></td>
                <td align="right"><span style="font-size: medium;">&nbsp;</span></td>
                <td align="right"><span style="font-size: medium;">&nbsp;</span></td>
                <td align="right"><span style="font-size: medium;">&nbsp;</span></td>
                <td align="right"><span style="font-size: medium;">&nbsp;</span></td>
                <td align="left" bgcolor="#158466"><strong><span style="font-size: large;">0,00 &euro;</span></strong></td>
                </tr>
                </tbody>
                </table>
                </td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                </tr>
                <tr>
                <td style="width: 15.5px;">&nbsp;</td>
                <td style="width: 14.5px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                </tr>
                <tr>
                <td style="width: 15.5px;">&nbsp;</td>
                <td style="width: 14.5px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                </tr>
                <tr>
                <td style="width: 15.5px;">&nbsp;</td>
                <td style="width: 14.5px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                </tr>
                <tr>
                <td style="width: 15.5px;">&nbsp;</td>
                <td style="width: 14.5px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                <td style="width: 200px;">&nbsp;</td>
                </tr>
                </tbody>
                </table>
        </main>
        <footer>

        </footer>
    </body>
</html>