{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block content %}
<div class="container text-center ">
    {% if user.is_authenticated %}
        <h1 class="my-4">Bienvenu {{ user.username }},</h1>
        <h5 class="mb-4">Embarquez dès maintenant dans l'aventure de la planification de votre budget familial!</h5>
    {% else %}
        <h1 class="my-4">Prêt à prendre le contrôle de vos finances familiales?</h1>
        <a href="{{ url_for('login') }}"><h5 class="text-primary mb-4">Inscrivez-vous dès maintenant</h5></a>
        <p class="mb-4">Notre plateforme vous offre les outils et la simplicité dont vous avez besoin pour commencer dès aujourd'hui.
            Ne laissez pas les finances familiales être un casse-tête - commencez à planifier votre avenir financier dès maintenant!</p>
    {% endif %}

    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ url_for('static', filename='budget1.jpg') }}" class="d-block w-100" alt="Budget image 1">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='budget3.jpg') }}" class="d-block w-100" alt="Budget image 2">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='b5.jpg') }}" class="d-block w-100" alt="Budget image 3">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='b6.jpg') }}" class="d-block w-100" alt="Budget image 4">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='budget4.jpg') }}" class="d-block w-100" alt="Budget image 5">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
{% endblock %}
