{% extends 'base.html' %}
{% block title%} Manage Designations {% endblock %}

{% block content %}

<h1 class="text-center"> Ajoutez une Designation </h1>
<div class="b1">
    <div class="m1">
      
        <form action="" method="post">
        
                    <label class="l" for="designation"> Entrez le nom de la Designation *: </label>
                    <input class="in" type="text" 
                        id="designation"
                        name="designation" 
                        placeholder="designation" required>

                        <label class="l" for="description">Entrez une Description a la designation: </label>
                        <textarea class="in" id="description" name="description" rows="5" cols="33"  placeholder="description de la categorie..." >
                         
                        </textarea>
                
                <div class="wrap">
                    <button class="bu" type="submit">
                            creer
                    </button>
                    
                </div>
        </form>
       
    </div>
</div>

{% endblock %}