{% extends 'base.html' %}
{% block title%} Manage Users {% endblock %}

{% block content %}
<h1 class="text-center"> Manage Users</h1>

<div class="b1">
    <div class="m1">
      
        <form action="" method="post">
            <label class="l" for="username"> Prenom: </label>
                <input class="in" type="text" 
                   id="username"
                   name="username" 
                   placeholder="Entrez votre prenom" required>

            <label class="l" for="lastname"> Nom: </label>
                <input class="in" type="text" 
                    id="lastname"
                    name="lastname" 
                    placeholder="Entrez votre nom" required>
            
            <label class="l" for="email"> E-Mail: </label>
                  <input class="in"  type="email" id="email"  
                    size="30" 
                    name="email" 
                    placeholder="Entrez votre email" required>
            
            <label class="l" for="Numero_telephon">Numero de telephon:<br />
                    <input class="in" type="tel" id="Numero_telephon" name="Numero_telephone" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}"
                    placeholder="0176-15-37-07-16" required />
                   
            <!--<label for="image_file">Sélectionner une image:</label><br>
                   <input type="file" id="image_file" name="image_file" accept="image/*" required><br><br> -->

            <label class="l" for="password">Mot de passe: </label>
                <input class="in" type="password"
                   id="password" 
                   name="password" 
                   placeholder="Entrez votre mot de passe" required>
            
            <label class="l" for="description">Entrez une Description de vous: </label>
                   <textarea class="in" id="description" name="description" rows="5" cols="33"  placeholder="je suis ingenieur depuis ...">
                    
                   </textarea>

            <div class="wrap">
                <button class="bu" type="submit">
                        Submit
                </button>
                
            </div>
        </form>
       
    </div>
</div>

{% endblock %}