{% extends 'base.html' %}
{% block title%} Budget Nourriture {% endblock %}

{% block content %}

<h1 class="text-center"> Ajoutez une nouvelle Designation </h1>
<div class="b1">
    <div class="m1">
      
        <form action="" method="post">
        
                    <label class="l" for="new_categorie"> Entrez le nom de la nouvelle categorie de budget: </label>
                    <input class="in" type="text" 
                        id="new_categorie"
                        name="new_categorie" 
                        placeholder="Entrez une nouvelle categorie" required>

                        <label class="l" for="description">Entrez une Description de la categorie: </label>
                        <textarea class="in" id="description" name="description" rows="5" cols="33"  placeholder="description de la categorie..." >
                         
                        </textarea>
                
                <div class="wrap">
                    <button class="bu" type="submit">
                            creer
                    </button>
                    
                </div>
        </form>
       
    </div>
</div>

{% endblock %}