{% extends 'base.html' %}
{% block title %}Manage Designations{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">Ajoutez une Désignation</h1>
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <form action="" method="post">
                <div class="mb-3">
                    <label for="designation" class="form-label">Entrez le nom de la Désignation *:</label>
                    <input type="text" class="form-control" id="designation" name="designation" placeholder="Désignation" required>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Entrez une Description à la Désignation:</label>
                    <textarea class="form-control" id="description" name="description" rows="5" placeholder="Description de la désignation..."></textarea>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Créer</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
