{% extends 'base.html' %}
{% block title%} reset password {% endblock %}

{% block content %}

<h1 class="text-center"> Reinitialisez votre mot de passe </h1>
<div class="b1">
    <div class="m1">
      
        <form action="" method="post">
        
                    <label class="l" for="email"> Entrez votre E-mail *: </label>
                    <input class="in" type="text" 
                        id="email"
                        name="email" 
                        placeholder="example@gmail.com" required>
                 
                <div class="wrap">
                    <button class="bu" type="submit">
                            Reset Password
                    </button>
                    
                </div>
        </form>
       
    </div>
</div>

{% endblock %}