
{% extends 'base.html' %}
{% block title%} Liste des types de Budgets {% endblock %}

{% block content %}

<h1 class="text-center"> liste des differents types de Budgets </h1>
<div class="table-responsive">
    <table class="table">
      <caption>liste des types de Budgets</caption>
  <thead>
    
    <tr>
     
      <th scope="col">categorie_id</th>
      <th scope="col">create_date</th>
      <th scope="col">categorie_name</th>
      <th scope="col">description</th>    
    </tr>
  </thead>
  {% for categorie in categories%}
  <tbody>
    <tr>
      <th scope="row">{{categorie.budget_categorie_id}}</th>
      <td>{{categorie.create_date}}</td>
      <td>{{categorie.budget_categorie_name}}</td>
      <td>{{categorie.description}}</td>
    
    </tr>
    
    
  </tbody>
  {% endfor %}
    
    </table>
    <a href="{{ url_for('manage_budget_categorie')}}">ajouter un nouveau type de budget</a>
  </div>

  {% endblock %}