
{% extends 'base.html' %}
{% block title%} Liste des types de depenses {% endblock %}

{% block content %}

<h1 class="text-center"> liste des differents Types de Depenses </h1>
<div class="table-responsive">
    <table class="table">
      <caption>liste des types de depenses</caption>
  <thead>
    
    <tr>
     
      <th scope="col">depenses_categorie_id</th>
      <th scope="col">depenses_categorie_name</th>
         
    </tr>
  </thead>
  {% for depenses_categorie in depenses_categories%}
  <tbody>
    <tr>
      <th scope="row">{{depenses_categorie.depenses_categorie_id}}</th>
      <td>{{depenses_categorie.name}}</td>
    
    </tr>
    
    
  </tbody>
  {% endfor %}
    
    </table>
  
  </div>

  {% endblock %}