
{% extends 'base.html' %}
{% block title%} Liste de Budgets {% endblock %}

{% block content %}

<h1 class="text-center"> Liste de Budgets </h1>
<div class="table-responsive">
    <table class="table">
      <caption>Liste de Budgets</caption>
  <thead>
    
    <tr>
     
      <th scope="col">budget_id</th>
      <th scope="col">montant</th>
      <th scope="col">budget_categorie_id</th>
      <th scope="col">date</th> 
      <th scope="col">description</th> 

    </tr>
  </thead>
  {% for budget in budgets %}
  <tbody>
    <tr>

      <th scope="row">{{budget.budget_id}}</th>
      <td>{{budget.montant}}</td>
      <td>{{budget.budget_categorie_id}}</td>
      <td>{{budget.date}}</td>
      <td>{{budget.description}}</td>

    
    </tr>
    
   
  </tbody>
  {% endfor %}
    
    </table>
    <a href="{{ url_for('manage_budget')}}">ajouter un nouveau budget</a>
  </div>

  {% endblock %}