
{% extends 'base.html' %}
{% block title%} Liste d epargnes {% endblock %}

{% block content %}

<h1 class="text-center"> Liste D epargne</h1>
<div class="table-responsive">
    <table class="table">
      <caption>Liste d epargne</caption>
  <thead>
    
    <tr>
     
      <th scope="col">epargne_id</th>
      <th scope="col">designation_id</th>
      <th scope="col">montant</th>
      <th scope="col">epargne_categorie_id</th> 
      <th scope="col">provenance_id</th> 
      <th scope="col">Date</th>
      <th scope="col">Description</th>    
    </tr>
  </thead>
  {% for epargne in epargnes %}
  <tbody>
    <tr>

      <th scope="row">{{epargne.epargne_id}}</th>
      <td>{{epargne.designation_id}}</td>
      <td>{{epargne.montant}}</td>
      <td>{{epargne.epargne_categorie_id}}</td>
      <td>{{epargne.provenance_id}}</td>
      <td>{{epargne.Date}}</td>
      <td>{{epargne.description}}</td>
    
    </tr>
    
    
  </tbody>
  {% endfor %}
    
    </table>
    <a href="{{ url_for('manage_epargnes')}}">ajouter une nouvelle epargne</a>
  </div>

  {% endblock %}