{% extends 'base.html' %}
{% block title %} Liste de Dépenses {% endblock %}

{% block content %}

<div class="container">
    <h1 class="text-center mt-5 mb-4">Liste de Dépenses</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <caption>Liste de Dépenses</caption>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">ID de la Designation</th>
                    <th scope="col">Montant</th>
                    <th scope="col">ID de la Catégorie</th>
                    <th scope="col">Responsable</th>
                    <th scope="col">Date de Création</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                {% for depense in depenses %}
                <tr>
                    <th scope="row">{{ depense.depenses_id }}</th>
                    <td>{{ depense.designation_id }}</td>
                    <td>{{ depense.montant }}</td>
                    <td>{{ depense.depenses_categorie_id }}</td>
                    <td>{{ depense.responsable_depenses }}</td>
                    <td>{{ depense.date }}</td>
                    <td>{{ depense.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center mt-4">
      <a href="{{ url_for('manage_depenses') }}" class="btn btn-primary">Ajouter une nouvelle dépense</a>
  </div>

</div>

{% endblock %}
