{% extends 'base.html' %}
{% block title %} Liste de Revenus {% endblock %}

{% block content %}

<div class="container">
    <h1 class="text-center mt-5 mb-4">Liste de Revenus</h1>

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <caption>Liste de Revenus</caption>
            <thead class="thead-dark">
                <tr>
   
                    <th scope="col">Désignation</th>
                    <th scope="col">Montant</th>
                    <th scope="col">Provenance</th>
                    <th scope="col">Date de création</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                {% for revenue in revenues %}
                <tr>
                    <td>{{ revenue.designation.name }}</td>
                    <td>{{ revenue.montant }} €</td>
                    <td>{{ revenue.user.firstname}} {{revenue.user.email}}</td>
                    <td>{{ revenue.date }}</td>
                    <td>{{ revenue.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>

    <div class="text-center mt-4">
      <a href="{{ url_for('choose_designation', ref='ref_revenu') }}" class="btn btn-primary">Ajouter un nouveau Revenu</a>
  </div>
</div>

{% endblock %}
